*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    height: 100vh;
    background: linear-gradient(#16c9ff,#fff);
    overflow: hidden;
    position: relative;
}

    /* Navbar Design Starts from here */


.navbar{
    width: 100%;
    border: 1px solid #b7e7f6;
}

nav{
    width: 80%;
    margin: 20px auto 0;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}
.logo{
    flex-basis: 15%;

}

.logo img{
    width: 100px;
    cursor: pointer;
}
.nav-link{
    flex: 1;
    text-align: center;
}

.nav-link ul li{
    display: inline-block;
    list-style: none;
    padding: 15px 5px;
    margin: 0 25px;
    position: relative;

}
.nav-link ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.nav-link ul li::after{
    content: '';
    width: 100%;
    height: 3px;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;

}
.nav-link ul li:hover:after{
    background: #fff;
}
.active::after{
    background: #fff !important;
}
.menu-icon{
    flex-basis: 15%;

}

.menu-icon img{
    width: 35px;
    float: right;
    cursor: pointer;
}

    /* navbar design ends here */


    /* Content Design starts from here */

.content{
    width: 300px;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
}
.social-icons img{
    width: 18px;
    margin: 0 10px;
    cursor: pointer;
    
}
.search-box{
    margin-top: 20px;
    border: 1px solid #b7e7f6;
    border-radius: 30px;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0));
}
.search-box input{
    width: 100%;
    padding: 7px 15px;
    border-radius: 30px;
    border: 0;
    outline: none;
    background: transparent;
    color: #b7e7f6;

}
::placeholder{
    color: #fff;
}
.search-box img{
    width: 20px;
    margin: 5px 10px;
}
#clouds{
    width: 100%;
    position: absolute;
    left: 0;
    top: 25px;
    animation: clouds 5s linear infinite;
    animation-delay: 1s;
}

@keyframes clouds{
    0%{
        top: -100px;
    }
    20%{
        top: 100px;
    }
    80%{
        top: 100px;
    }
    100%{
        top: -100px;
    }
}
#airplane{
    width: 200px;
    position: absolute;
    top: 200px;
    left: -250px;
    z-index: 2;
    animation: airplane 5s linear infinite;
}

@keyframes airplane{
    0%{
       left: -250px;
    }
    /* 20%{
        left: 250px;
    } */
    50%{
        left: 500px;
    }
    /* 80%{
        left: 250px;
    } */
    100%{
        left: 100%;
        left: 100%;
    }
}

#ballon{
    height: 300px;
    width: 700px;
    position: absolute;
    left: 50%;
    bottom: -450px;
    transform: translateX(-50%);
    animation: ballon 5s linear infinite;
}

@keyframes ballon{
    0%{
        bottom: -450px;
    }
    20%{
        bottom: 100px;
    }
    80%{
        bottom: 100px;
    }
    100%{
        bottom: -450px;
    }
}
.ballon-1{
    width: 150px;
    opacity: 0.4;

}

.ballon-2{
    width: 350px;
    
}

.ballon-3{
    width: 180px;
    opacity: 0.5;

}
#myimg{
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}